# URL de la API de AWS (sin el ID del documento al final)
AWS_API_URL=https://c4huz7dmpc-vpce-0d1e15f4e7cf53d97.execute-api.us-east-1.amazonaws.com/stage/documentos_archivo/api/v1/filenet/documento/soporte

# API Key de AWS
AWS_API_KEY=vvaduJRpkc85IB3MbGNo86IrfD9ssuRHa4UTgV8S

# Puerto de la aplicación (GCP Cloud Run usa 8080 por defecto)
PORT=8080

